In [48]:
Sum = 0
for i in range(1,11):
    Sum = Sum + i
print("sum of N natural number is",Sum)

sum of N natural number is 55

In [49]:
num = 4
i = 1
for i in range (1,11) :
  print("4*",i,"=",num*i)

4* 1 = 4
4* 2 = 8
4* 3 = 12
4* 4 = 16
4* 5 = 20
4* 6 = 24
4* 7 = 28
4* 8 = 32
4* 9 = 36
4* 10 = 40

In [50]:
i = 2

for i in range (1,110) :
  print(i,end =" ")
  i += 2

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109

In [51]:
fact = 1
for i in range (1,6):
  fact = fact * i
print("factorial of 5 is",fact)

factorial of 5 is 120

In [52]:
num,a,b=10,0, 1
i = 0
for i in range(1,100):
  print(a,end=" ")
  a,b=b,a+b
  i+=1

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041 1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994 190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221 23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189 2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049