In [983]:
# 1) Example sum of numbers using *args
def add(*args):
  total = 0
  for num in args:
    total += num
  print("Total value is:", total)

add(10,5)
add(5,4,9)
add(10,46,14,20)

Total value is: 15
Total value is: 18
Total value is: 90

In [984]:
def details (**kwargs):
      for key,value in kwargs.items():
        print(f'My detals is {key} and {value}')

details(course="BCA",Section='C',collge="BK college")
details(place = "Bengaluru")
details(roll_num = 201, T_Subject=7)
details(laptop = "lenovo",O_S = "Window",year = 2022, version = "Windows")

My detals is course and BCA
My detals is Section and C
My detals is collge and BK college
My detals is place and Bengaluru
My detals is roll_num and 201
My detals is T_Subject and 7
My detals is laptop and lenovo
My detals is O_S and Window
My detals is year and 2022
My detals is version and Windows

In [985]:
# Example of *args and **kwargs
def Show_values(*args,**kwargs):
    print("Positional Arguments represented in Tuple",args)
    print("Key- words Arguments represented in Dist ",kwargs)
Show_values(1,2,3,4,name="Utkarsha")

Positional Arguments represented in Tuple (1, 2, 3, 4)
Key- words Arguments represented in Dist  {'name': 'Utkarsha'}

In [986]:
i = 1
fact=1
while i<=5:
  fact=fact*i
  i=i+1
print(fact)

120

In [987]:
fact = 1
for i in range(1,6):
  fact=fact*i
print(fact)

120

In [988]:
def fact(num):
  if num==0 or num==1 :
    return num
  else:
    return num*fact(num-1)
print(fact(5))

120

In [989]:
def Sum(num):
  if num == 0:
    return num
  else :
    return num+Sum(num-1)
print("Sum of natural number is:",Sum(10))

Sum of natural number is: 55

In [990]:
def fibo(num):
  if num<= 1:
    return num
  else:
    return fibo(num-1)+fibo(num-2)
for i in range(11):
  print(fibo(i),end= "  ")

0  1  1  2  3  5  8  13  21  34  55

In [991]:
name = "manu"
print(name[:4])

manu

In [992]:
class fruit:
  colour = "Orange"
  price = 250
  test = "Sweet"
  shape = "Circle"
  def juice(self):
   print("good")
Orange = fruit()
print("orange colour is ",Orange.colour)

orange colour is  Orange

In [993]:
class Flower:
  Smell="nice"
  petal=5
  size="medium"
  gender="female"
  validity = 1.5
  def Decoration(self):
    print("Hello Good Morning")
  def Gift(self):
    print("Good Afternoon")
  def Marriege(self):
    print("Marriege")
  def Death(self):
    print("This flower using for death time")
obj = Flower()
obj.Death()

This flower using for death time

In [994]:
class fan :
  coluor = "black"
  wings = 3
  c_name = "bajaj"
  price = 1500
  warrenty = "2 years"
  def start(self):
      print("when click on button it'll start")
  def speed(self):
      print("based on condition it'll change the speed")
  def stop(self):
      print("when click on button it'll stop")

In [995]:
def fun(name):
  print("my name is a",name)
fun("UTKARSHA")

my name is a UTKARSHA

In [996]:
# Encapulation Example
class Student :
  def __init__(self,name,marks,place):
    self.__name = name
    self.__marks = marks
    self.place = place

  def set_method(self,name,marks):
      self.name = name
      self.marks = marks

  def get_method(self):
    return self.name + " " +str(self.marks)

Obj = Student ("Utkarsha",185,"Belagavi")
Obj.set_method ("ABCD",11)
print(Obj.get_method())

ABCD 11

In [997]:
# Single Inheritance
class Parent :
  def Work(self):
    print("My parents are doing farming")
class Children(Parent):
  def Study(self):
    print("I'm studying BCA in BK College")
obj = Children()
obj.Work()
obj.Study()

My parents are doing farming
I'm studying BCA in BK College

In [998]:
# Multiple Inheitance
class Father :
  def Hi(us):
    print("My father is my first hero")
class Mother :
  def Hello( us):
    print("My mother is house wife")
class Child(Father,Mother):
  def Bye(self):
    print("I'm studying BCA in BK College")
obj = Child()
obj.Hello()
obj.Bye()

My mother is house wife
I'm studying BCA in BK College

In [999]:
# Multi level Inheritance
class GrandFather :
  def Army(self):
    print(" Nation hero")
class Parents (GrandFather):
  def Farmer(self):
    print(" Caption of life")
class Child (Parents):
  def Student(me):
    print("Be our own Sunshine")
Obj.GrandFather()
Obj.Parent()
Obj.Child()

AttributeError: 'Student' object has no attribute 'GrandFather'

In [ ]:
#Hirarchy Inheritance
class Parents :
  def Business(self):
    print("My parents are doing Business")
class Child1(Parents):
  def Study(self):
    print("I'm studying BCA in BK College")
class Child2(Parents):
  def Study(self):
    print("I'm studying PUC in JP College")
Ch = Child1()
Ch.Business()
Ch.Study()

Obj = Child2()
Obj.Business()
Obj.Study()

In [1000]:
# Hybrid Inheritance
class A :
  def Hi(self):
    print(" Hiiiiiii")

class B(A) :
  def Hello(self):
    print("Hellooooooo")

class C(A):
  def Bye(self):
    print("Byeeeeee")

class D(B,C):
  def Good(self):
    print("Gooddddd")

Obj = D()
Obj.Hi()
Obj.Hello()
Obj.Bye()
Obj.Good()

 Hiiiiiii
Hellooooooo
Byeeeeee
Gooddddd